<p>
  <mat-chip>{{ lat }}</mat-chip> / <mat-chip>{{ lon }}</mat-chip>
</p>

<p>
  <mat-form-field appearance="outline" class="city">
    <mat-label>City:</mat-label>
    <input matInput type="text" name="city" #city (keyup.enter)="getForecast(city.value)" />
    <mat-hint>Leave empty to use your current location</mat-hint>
  </mat-form-field>

  <button (click)="getForecast(city.value)">Get Forecast</button>
</p>

<app-day-card  *ngIf="forecast | async as f" text="{{f.list[0].dt_txt.split(' ')[0]}}"></app-day-card>
<div *ngIf="forecast | async as f">
  <app-card *ngFor="let item of f.list" [item]="item"></app-card>
</div>
